.show-chat {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 500px;
  width: 450px;
  background: white;
  display: none;
  justify-content: space-between;
  border-radius: 10px;
}
.people-list {
  border-radius: 10px;
  font-size: 14px;
  padding: 10px;
  margin-bottom: 10px;
  overflow-y: scroll;
  width: 350px;
  display: flex;
  color: white;
  background: lighten(#e51c25, 15);
  flex-flow: column nowrap;

  .search {
    margin: 10px auto;
    width: 80%;
    input {
      width: 100%;
      border-radius: 10px;
      border: none;
      padding: 10px;
      font-size: 14px;
    }
  }
  .list {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    .clearfix {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: row nowrap;
      .content-img {
        width: 20%;
        margin-right: 10px;
        border-radius: 50%;
        img {
          border-radius: 50%;
        }
      }
      .about {
        width: 100%;
        margin-left: 15px;
      }
    }
  }
}
.chat {
  width: 100%;
  margin-left: 10px;
  .chat-header {
    margin: 10px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid whites;

    .chat-about {
      align-items: center;
      display: flex;
      width: 90%;
      margin-right: 20px;
      img {
        margin-right: 10px;
      }
    }
  }
  .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid whites;
    overflow-y: scroll;
    height: 350px;
    .message-data {
      margin-bottom: 15px;
    }

    .message-data-time {
      color: darken(#e5e5e5, 15%);
      padding-left: 6px;
    }

    .message {
      color: #fff;
      padding: 18px 20px;
      line-height: 20px;
      font-size: 14px;
      border-radius: 7px;
      margin-bottom: 30px;
      width: 90%;
      position: relative;

      &:after {
        bottom: 100%;
        left: 10%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #86bb71;
        border-width: 10px;
        margin-left: -12px;
      }
    }
  }
  .my-message {
    background: #5cbd36;
  }

  .other-message {
    background: lighten(#e51c25, 10);

    &:after {
      border-bottom-color: #94c2ed;
      left: 92%;
    }
  }
}
.online,
.offline,
.me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86bb71;
}

.offline {
  color: #e38968;
}

.me {
  color: #94c2ed;
}
.chat-message {
  // padding: 10px;

  // background: red !important;
  display: flex;
  textarea {
    width: 100%;
    border: none;
    padding: 10px 10px;
    font: 14px/18px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
    margin-right: 5px;
  }

  // .fa-file-o,
  // .fa-file-image-o {
  //   font-size: 14px;
  //   color: grays;
  //   cursor: pointer;
  // }

  button {
    font-size: 12px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #e51c25;
    border-radius: 0.625rem;
    padding: 10px;

    &:hover {
      color: darken(#e51c25, 7%);
    }
  }
}
